.item{
    grid-column: span 6 / auto;
    display: block;
    font-weight: 400;
    line-height: 1.5;
    margin: 0px;
    font-size: 0.875rem;
}

.quantity{
    grid-column: span 2 / auto;
    display: block;
    font-weight: 400;
    line-height: 1.5;
    margin: 0px;
    font-size: 0.875rem;
}

.null{
    grid-column: span 1 / auto;
    display: block;
    font-weight: 400;
    line-height: 1.5;
    margin: 0px;
    font-size: 0.875rem;
    color: rgb(22, 28, 38);
}

.cross{
    grid-column: span 1 / auto;
    display: block;
    font-weight: 400;
    line-height: 1.5;
    margin: 20px;
    font-size: 0.875rem;
    color: grey;
    cursor: pointer;
}

.newline{
    margin: 15px;
    border: 1.5px dotted;
    background-color: rgb(243, 245, 247);
}

.newline1{
    margin: 15px;
    border: 1.5px dotted ;
    border-radius: 1rem;
    width: 15%;
    font-size: .9rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

span.text{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1%;
    font-size: 1.2rem;
    cursor: pointer;
    
}

.cross{
    margin-top: 6%;
}